body{
	font-family: 'Ubuntu', sans-serif;
    padding:0;
    margin:0;
}
.container{
	width: 1170px;
	margin:0 auto;
}
.header{
	background: rgba(77,190,254,1);
	background: -moz-linear-gradient(left, rgba(77,190,254,1) 0%, rgba(72,146,220,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(77,190,254,1)), color-stop(100%, rgba(72,146,220,1)));
	background: -webkit-linear-gradient(left, rgba(77,190,254,1) 0%, rgba(72,146,220,1) 100%);
	background: -o-linear-gradient(left, rgba(77,190,254,1) 0%, rgba(72,146,220,1) 100%);
	background: -ms-linear-gradient(left, rgba(77,190,254,1) 0%, rgba(72,146,220,1) 100%);
	background: linear-gradient(to right, rgba(77,190,254,1) 0%, rgba(72,146,220,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dbefe', endColorstr='#4892dc', GradientType=1 );
	padding-top: 60px;
	color:#fff;
	padding-bottom: 140px;
}
.wrapper{
	display:flex;
	justify-content: space-between;
	align-items:center; 
}

.title{
	font-size:37px;
	font-weight: 400;
	width: 600px;
}
.title span{
	font-size:59px;
}
.intro{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	width: 360px;
}
.btn{
	margin-top: 42px;
	background:#ffd429;
	display:block;
	width: 224px;
	padding-top:25px;
	padding-bottom: 25px;
	text-align:center;
	text-decoration: none;
	color:black;
	font-size:15px;
}
.decktop{
	margin-top: 50px;
}
.learn{
	padding-top: 90px;
	padding-bottom:115px;
}
.section-title{
	text-align: center;
	font-size:30px;
	margin-bottom: 60px;
}
.skills{
	display:flex;
	justify-content: space-between;
	text-align: center;
}
.skill{
	width: 310px;
    background: url('../img/icon1.png') no-repeat top;
    padding-top: 100px;
}
.skill-title{
	font-size:19px;
}
.skill-text{
	font-size:15px;
	width: 289px;
}
.travel{
 	background: url('../img/icon2.png') no-repeat top;
}
.roket{
	background: url('../img/icon3.png') no-repeat top;
}
.mail{
	background:#ecf3f8;
	padding-top: 110px;
	padding-bottom:100px;
}
.form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
input{
	width: 316px;
	border:1px solid #e2e4e6;
	font-size:15px;
	font-family: 'Ubuntu', sans-serif;
	height:47px;
	padding-left:24px;
	display:block;
	margin-bottom: 15px;
	color:#e2e4e6;
	
}
.btn-form{
	border:0;
	width: 340px;
	margin:0;
	font-weight:900;
}
.footer{
	padding-top:65px;
	padding-bottom: 65px;
	background:#164d7a;
	color:#fff;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}
.credits{
	text-align: center;
}







@media screen and (max-width: 1200px){
	.container{
		width: 960px;
		}
		.wrapper{
		flex-direction: column;
	}
}
@media screen and (max-width: 992px){
	.container{
		width: 720px;
	}
	.wrapper{
		flex-direction: column;
	}
	.offer{
		width: 90%;
	}
	.intro{
		width: auto;
	}
	.desctop{
		display:block;
	}
	.skills{
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		flex-direction: column;
		width: auto;
		display:flex;
		align-items: center;
	}
}
@media screen and (max-width: 768px){
	.container{
		width: 90%;
	}
	.wrapper{
		flex-direction: column;
	}
	.intro{
		width: auto;
	}
	.decktop{
		width: 100%;
	}
}


@media screen and (max-width: 576px){
	.container{
		width: 90%;
	}
	.wrapper{
		flex-direction: column;
	}
	.title{
		width: auto;
	}
	.intro{
		width: auto;
	}
	.decktop{
		width: 100%;
		
	}
	input{
		width: 200px;
		font-size:10px;
	}
	.btn-form{
		width: 220px;
	}

}
